.table-dark {
    --bs-table-bg: #111111; 
    --bs-table-border-color: #444; 
    --bs-table-striped-bg: #1a1a1a;
    color: #f5f5f5;
}


.card-body h3 {
    border-bottom: 2px solid #ffc107; 
    padding-bottom: 10px;
    margin-bottom: 20px;
}


.empty-history-card {
    background-color: #1a1a1a !important; 
    border: 2px dashed #ffc107; 
}

.empty-history-card .card-title {
    color: #ffc107; 
}